<!-- this is the home 'view', handlebars puts this in the layout -->

<div class="home-view"> 
    <!-- only this piece of the page is dynamic -->
    <h1>{{ homemessage }}</h1>
    <p class="u-bio">
        {{ bio }}
    </p>
</div>